*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background: #0c0c0c;
    color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

/*header nav*/

.header-top{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 90%;
    position: fixed;
    z-index: 2;
}

a.logo-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    height: 28px;
    width: 105px;
}

.nav-btn{
    background: transparent;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    margin-top: -10px;
}

.nav-btn span{
    display: block;
    content: "";
    width: 24px;
    height: 2px;
    border-radius: 3px;
    background: #ffffff;
    position: absolute;
}

.nav-btn span:first-child{
    top: 19px;
    left: 13px;
    
}

.nav-btn span:nth-child(2){
    width: 16px;
    top: 26px;
    left: 17px;
} 

.nav-btn span:last-child{
    top: 33px;
    left:13px;
    
}

.main-nav{
    display: none;
}

.main-nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    position: relative;
}

.main-nav a.is-act:before{
    display: block;
    content: "";
    width: 195px;
    height: 13px;
    background: blue;
    position: absolute;
    top: 29px;
    left: 31%;
}

.main-nav a.is-act:nth-child(2):before{
    width: 210px;
    left: 30%;
}

.main-nav a.is-act:nth-child(3):before{
    width: 210px;
    left: 30%;
}

.main-nav a.is-act:nth-child(4):before{
    width: 258px;
    left: 25%;
}

.main-nav a.is-act:nth-child(5):before{
    width: 229px;
    left: 28%;
}

.main-nav.is-open{ 
    position: absolute;
    top: 0;
    right: 70px;
    display: none;
    background: #000000;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* end header-nav*/

/*side-nav*/

aside{
    width: 100px;
    height: calc(100% - 220px);
    margin-top: 20px;
    border-left: 1px dotted #454545;
    position: fixed;
    top: 90px;
    left: 5%; 
    z-index: 2;
    display: none;
}

.side-nav{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.side-nav-item{
    margin-left: 15px;
    position: relative;
    color: #454545;
    font-size: 14px;
    cursor: pointer;
}

.side-nav-item.is-active{
    margin-left: -35px;
    color: #ffffff;
}

.side-nav-item:before{
    display: block;
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    top: 7px;
    left: -17px;
}

.side-nav-item.is-active:before{
    left: 33px;
    background: blue;
}

.side-nav-item.is-active:after{
    display: block;
    content: "Home";
    position: absolute;
    top: 0px;
    left: 50px;
    color: #ffffff;
}

.side-nav-item:nth-child(2).is-active:after{
    content: "Works"
}

.side-nav-item:nth-child(3).is-active:after{
    content: "About"
}

.side-nav-item:nth-child(4).is-active:after{
    content: "Contact"
}

.side-nav-item:nth-child(5).is-active:after{
    content: "Hire us"
}

/*end side-nav*/

/*content*/

main{
    padding-top: 61px;
}

section{
    min-height: 500px;
    height: calc(100vh - 106px);
    padding-bottom: 50px;
    margin-top: 45px;
}

section.introduction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.introduction-banner{
    border-bottom: 1px solid #282828;
    position: relative;
    height: 410px;
}

div.introduction-banner:after{
    display: block;
    content: "";
    width: 40px;
    height: 5px;
    background: blue;
    position: absolute;
    bottom: -5px;
    left: 20px;
}

div.introduction-banner h1{
    font-size: 68px;
    font-weight: 900;
    line-height: 70px;
}

div.introduction-img{
    width: 511px;
    position: absolute;
    right: -12px;
    bottom: -6px;
}

div.introduction-img img{
    width: 100%;
}

div.intro{
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin-top: 60px;
    position: relative;
}

div.intro svg{
    z-index: 2;
}

.intro-link{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    display: block;
    z-index: 2;
}

.intro-link-bg, .intro-link-bg2{
    width: 80px;
    height: 35px;
    background: blue;
    z-index: 1;
    position: absolute;
    top: -7px;
    left: 20px;
    transition: 0.4s;
}

div.intro:hover .intro-link-bg2{
    left: -10px;
}


div.introduction-box{
    display: flex;
    justify-content: space-between;
    color: #555555;
    padding-bottom: 10px;
    font-size: 14px;
    color: #282828;
    margin-top: 30px;
}

div.introduction-box h2{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

div.introduction-box div{
    width: 30%;
}

div.introduction-box div:hover{
    color: #ffffff;
}

/*works section*/

section.works h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.works-gallery{
    padding-top: 50px;
    position: relative;
}

.works-gallery-prev,
.works-gallery-next{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #282828;
    top: calc(50% - 75px);
    cursor: pointer;
    text-align: center;
    padding-top: 13px;
}

.works-gallery-prev{
    left: -25px;
    transform: rotate(180deg);
}

.works-gallery-next{
    right: -25px;
}

.works-gallery ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding-right: 8%;
    padding-left: 8%;
}

.works-gallery-item{
    width: 20%;
    height: auto;
    text-align: center;
    text-transform: uppercase;
}

.works-gallery-item h3{
    font-size: 14px;
    color: #858585;
}

.works-gallery-item p{
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    margin-top: 20px;
    color: #000000;
}

.is-active-gal{
    width: 40%;
}

.is-active-gal p{
    color: #ffffff;
}

.is-active-gal h3{
    font-size: 16px;
    color: #ffffff;
}

.work-img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

/*end works section*/

/*about section*/

section.about{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding-bottom: 80px;
}

section.about img{
    position: absolute;
    top: -100px;
    right: 0px;
}

section.about h2{
    font-size: 68px;
    font-weight: 900;
    line-height: 70px;
    position: relative;
}

section.about h2:before{
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: blue;
    position: absolute;
    top: 60px;
    left: 283px;
}

section.about h2:after{
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    background: blue;
    position: absolute;
    top: 260px;
    left: 265px;
}

.about-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.about-link svg{
    margin-left: 5px;
    transition: 0.4s
}

.about-link:hover svg{
    margin-left: 15px;
}

.about-values{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.about-values-item{
    width: 170px;
    height: 95px;
    border: 10px solid blue;
    position: relative;
}

.about-values-item a{
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.about-values-item span{
    position: absolute;
    bottom: -20px;
    left: 15px;
    transition: 0.5s;
    z-index: 2;
}

.about-values-item:hover span{
    bottom: -40px;
}

.about-values-item:first-child{
    background: url("../img/about-winners.jpg");
    background-position: center;
}

.about-values-item:nth-child(2){
    background: url("../img/about-philosophy.jpg");
    background-position: center;
}

.about-values-item:last-child{
    background: url("../img/about-history.jpg");
    background-position: center;
}
/*end about section*/

/*contact section*/

.contact-bgr{
    background: url("../img/contact-visual.png");
    background-position: center;
    position: absolute;
    margin-left: -5%;
    height: 100%;
    width: 100%;
    z-index: 1;  
}

.contact-field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 300px;
    margin-top: 25vh;
    margin-left: 50%;
    background: #0c0c0c;
    padding: 30px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75);
}

.contact-field a{
    color: #ffffff;
    text-decoration: none;
}

.contact-bh-btn,
.contact-dr-btn,
.contact-us-btn{
    width: 120px;
    padding: 10px;
    text-align: center;
}

.contact-bh-btn{
    background: #1769ff;
}

.contact-dr-btn{
    background: #ea4c89;
}

.contact-us-btn{
    background: blue;
    text-transform: uppercase;
}
/*end contact section*/

/*hire us section*/

section.hire-us{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
}

section.hire-us h2{
    font-size: 30px;
    text-align: center;
    z-index: 2;
}

.hire-us-skill{
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hire-skill-box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.hire-skill-box:last-child{
    width: 72%;
    justify-content: space-around;
}

.hire-skill-box p{
    display: inline-block;
    border: 2px solid #ffffff;
    width: 200px;
    height: 50px;
    padding-top: 13px;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 15px;
}

input{
    border: none;
    background: transparent;
    outline: none;
}

input[type="text"]{
    border-bottom: 1px solid #ffffff;
    width: 35%;
    margin-right: 7%;
    margin-left: 7%;
    padding-bottom: 5px;
    font-size: 26px;
    color: #ffffff;
}

input[type="submit"]{
    display: block;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background: blue;
}

/*end hire us section*/

/*layout*/

@media (min-width: 1236px){
    aside{
        display: block;
    }
    main{
        margin-left: 101px;
    }
    section{
        margin-left: 45px;
        margin-right: 135px;
    }
    .contact-bgr{
        margin-top: -106px;
        margin-left: -215px;
    }
    div.contact-field{
        margin-left: 65%;
    }
}

@media (max-width: 900px){
    div.introduction-banner h1{
        font-size: 55px;
    }
    div.introduction-img{
       width: 430px;
    }
}

@media (max-width: 767px){
    div.introduction-banner h1{
        font-size: 44px;
    }
    div.introduction-img{
       width: 330px;
    }
    div.introduction-box{
        flex-direction: column;
    }
    div.introduction-box div{
        width: 100%;
    }
    div.contact-field{
        margin-right: auto;
        margin-left: auto;
    }
    .hire-us-skill{
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        padding: 0 10%;
    }
    .hire-skill-box{
        width: auto;
    }
}

@media (max-width: 600px){
    div.introduction-img,
    div.introduction-banner:after,
    div.introduction-box,
    .works-gallery-item:first-child,
    .works-gallery-item:last-child,
    section.about img,
    .about-values{
        display: none;
    }
    div.introduction-banner{
        padding-top: 20%;
        border-bottom: none;
    }
    div.introduction-banner h1{
        font-size: 55px;
    }
    section.works{
        padding:0 5%;
    }
    .works-gallery ul{
        justify-content: center;
    }
}

/*end layout*/